// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// src/css/quasar.variables.sass

$primary   : #543344;
$secondary : #caa05a;
$accent    : #8ea091;

$dark      : #ae6a47;
$dark-page : #8b4049;

$positive  : #c9cca1;
$negative  : #543344;
$info      : #515262;
$warning   : #63787d;
